annotated-types==0.7.0
asttokens==3.0.0
branca==0.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
comm==0.2.2
cykhash==2.0.1
Cython==3.1.1
debugpy==1.8.14
decorator==5.2.1
dotenv==0.9.9
executing==2.2.0
folium==0.19.6
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
idna==3.10
ipykernel==6.29.5
ipython==9.2.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
jupyter_client==8.6.3
jupyter_core==5.8.1
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
numpy==2.2.6
osmium==4.0.2
overpy==0.7
packaging==25.0
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pip==24.0
platformdirs==4.3.8
prompt_toolkit==3.0.51
psutil==7.0.0
psycopg==3.2.9
ptyprocess==0.7.0
pure_eval==0.2.3
pydantic==2.11.5
pydantic_core==2.33.2
pydantic-settings==2.9.1
Pygments==2.19.1
pyogrio==0.11.0
pyproj==3.7.1
pyrobuf==0.9.3
pyrosm==0.6.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-rapidjson==1.20
pytz==2025.2
pyzmq==26.4.0
RapidFuzz==3.13.0
requests==2.32.3
rtree==1.4.0
scipy==1.15.3
setuptools==80.9.0
shapely==2.1.1
six==1.17.0
stack-data==0.6.3
thefuzz==0.22.1
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.13.2
typing-inspection==0.4.1
tzdata==2025.2
urllib3==2.4.0
wcwidth==0.2.13
xyzservices==2025.4.0
tenacity==9.1.2
beautifulsoup4==4.13.4